# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
# TODO: Necessary?
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle breakpoint'
      'command': 'levels-debugger:toggleBreakpoint'
    }
  ]
# 'menu': [
#   {
#     'label': 'Packages'
#     'submenu': [
#       'label': 'levels-debugger'
#       'submenu': [
#         {
#           'label': 'Toggle'
#           'command': 'levels-debugger:toggle'
#         },
#         {
#           'label': 'Connect'
#           'command': 'levels-debugger:connect'
#         }
#       ]
#     ]
#   }
# ]
