'.platform-darwin atom-workspace':
  'cmd-f9': 'levels-debugger-ruby:enable-disable-all-breakpoints'
  'cmd-shift-f9': 'levels-debugger-ruby:remove-all-breakpoints'
'.platform-linux atom-workspace, .platform-win32 atom-workspace':
  'ctrl-f9': 'levels-debugger-ruby:enable-disable-all-breakpoints'
  'ctrl-shift-f9': 'levels-debugger-ruby:remove-all-breakpoints'
'atom-workspace':
  'f5': 'levels-debugger-ruby:start-debugging'
  'f8': 'levels-debugger-ruby:run-to-next-breakpoint'
  'f9': 'levels-debugger-ruby:toggle-breakpoint'
  'f10': 'levels-debugger-ruby:step-over'
  'f11': 'levels-debugger-ruby:step'
  'f12': 'levels-debugger-ruby:stop-replay'
  'shift-f5': 'levels-debugger-ruby:stop-debugging'
  'shift-f11': 'levels-debugger-ruby:run-to-end-of-method'