@import "ui-variables";

@border-color: @pane-item-border-color;
@contrast-color: navy;
@highlight-color: #FFE600;

@breakpoint-color-background: @contrast-color;
@breakpoint-color-text: lime;
@breakpoint-disabled-color-background: silver;
@breakpoint-disabled-color-text: black;

@position-color-background: @highlight-color;
@position-color-text: black;

@status-disabled-color: red;
@status-end-of-tape-color: purple;
@status-running-color: #00805E;
@status-stopped-color: @contrast-color;
@status-waiting-color: @highlight-color;

@stack-column-width: 50%;
@variables-column-width: 100% / 3;

@component-margin: @component-padding / 2;
@status-height: @tab-height + @component-padding;

atom-text-editor.editor {
  .line-number {
    &.syntax--annotation:hover {
      opacity: 1;
    }

    &.annotation-breakpoint {
      background-color: @breakpoint-color-background;
      color: @breakpoint-color-text;
    }

    &.annotation-breakpoint-disabled {
      background-color: @breakpoint-disabled-color-background;
      color: @breakpoint-disabled-color-text;
    }

    &.annotation-position {
      background-color: @position-color-background;
      color: @position-color-text;
    }
  }
}

.levels-debugger-ruby {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  &.disabled {
    opacity: 0.3;
    pointer-events: none;
    user-select: none;
  }

  .btn {
    width: 100%;
    .overflow-ellipsis;
  }

  .commands {
    flex: 0 0 auto;
    margin: @component-margin;

    .btn {
      margin-bottom: @component-margin;
    }

    .btn:last-child {
      margin-bottom: 0;
    }
  }

  .header {
    display: flex;
    flex: 0 0 auto;
    font-weight: bold;
    margin: @component-margin;
  }

  .highlight {
    animation: highlight 1s;
  }

  .overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .stack-body {
    margin: 0 @component-margin;
    overflow-y: auto;

    td, th {
      width: @stack-column-width;
    }
  }

  .stack-head {
    flex: 0 0 auto;
    margin: @component-margin;
    margin-bottom: 0;

    td, th {
      width: @stack-column-width;
    }
  }

  .status {
    align-items: center;
    color: white;
    display: flex;
    flex: 0 0 auto;
    height: @status-height;
    justify-content: center;
    margin-bottom: @component-margin;
    padding: @component-padding;

    &.status-disabled {
      background-color: @status-disabled-color;
    }

    &.status-endoftape {
      background-color: @status-end-of-tape-color;
    }

    &.status-replay {
      background-image: repeating-linear-gradient(135deg, transparent, transparent 35px, rgba(255, 255, 255, 0.5) 35px, rgba(255, 255, 255, 0.5) 70px);
    }

    &.status-running {
      background-color: @status-running-color;
    }

    &.status-stopped {
      background-color: @status-stopped-color;
    }

    &.status-waiting {
      background-color: @status-waiting-color;
      color: black;
    }
  }

  .table {
    margin: 0;
    table-layout: fixed;

    td, th {
      border-top: 1px solid @border-color;
      text-align: center;
      vertical-align: middle;
      .overflow-ellipsis;
    }
  }

  .table > tbody:first-child > tr:first-child > td {
    border-top-style: none;
  }

  .table > thead:first-child > tr:first-child > th {
    border-top: 1px solid @border-color;
  }

  .table > thead:last-child > tr:last-child > th {
    border-bottom: 2px solid @border-color;
  }

  .variables-body {
    margin: @component-margin;
    margin-top: 0;
    overflow-y: auto;

    td, th {
      width: @variables-column-width;
    }
  }

  .variables-head {
    flex: 0 0 auto;
    margin: @component-margin;
    margin-bottom: 0;

    td, th {
      width: @variables-column-width;
    }
  }

  @keyframes highlight {
    0% {
      background: @highlight-color;
    }

    100% {
      background: none;
    }
  }
}