@import "ui-variables";

@breakpoint-color: @contrast-color;
@breakpoint-disabled-color: silver;
@contrast-color: navy;
@disabled-color: red;
@end-of-tape-color: purple;
@highlight-color: #FFE600;
@position-color: @highlight-color;
@running-color: #00805E;
@stopped-color: @contrast-color;
@waiting-color: @highlight-color;

@status-height: @tab-height + @component-padding;

atom-text-editor.editor {
  .line-number {
    &.syntax--annotation:hover {
      opacity: 1;
    }

    &.annotation-breakpoint {
      background-color: @breakpoint-color;
      color: lime;
    }

    &.annotation-breakpoint-disabled {
      background-color: @breakpoint-disabled-color;
      color: black;
    }

    &.annotation-position {
      background-color: @position-color;
      color: black;
    }
  }
}

.levels-debugger-ruby[disabled="true"] {
  opacity: 0.3;
  pointer-events: none;
  user-select: none;
}

.levels-debugger-ruby {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  button {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  .commands {
    flex: 0 0 auto;
    margin: 5px;

    button {
      margin: 5px 0px;
    }

    button:first-child {
      margin-top: 0px;
    }

    button:last-child {
      margin-bottom: 0px;
    }
  }

  .header {
    flex: 0 0 auto;
    font-weight: bold;
    margin: 5px;
  }

  .highlight {
    animation: highlight 1s;
  }

  .stack-body {
    margin: 0px 5px;
    overflow-y: auto;

    td, th {
      width: 50%;
    }
  }

  .stack-head {
    flex: 0 0 auto;
    margin: 5px 5px 0px 5px;

    td, th {
      width: 50%;
    }
  }

  .status {
    align-items: center;
    color: white;
    display: flex;
    flex: 0 0 auto;
    height: @status-height;
    justify-content: center;
    margin-bottom: 5px;
    overflow: auto;
    text-align: center;

    &.status-disabled {
      background-color: @disabled-color;
    }

    &.status-endoftape {
      background-color: @end-of-tape-color;
    }

    &.status-replay {
      background-image: repeating-linear-gradient(135deg, transparent, transparent 35px, rgba(255, 255, 255, 0.5) 35px, rgba(255, 255, 255, 0.5) 70px);
    }

    &.status-running {
      background-color: @running-color;
    }

    &.status-stopped {
      background-color: @stopped-color;
    }

    &.status-waiting {
      background-color: @waiting-color;
      color: black;
    }
  }

  table {
    border-collapse: collapse;
    margin: 0px;
    table-layout: fixed;
    width: 100%;
  }

  .table > tbody:first-child > tr:first-child > td {
    border-top-style: none;
  }

  .table > thead:first-child > tr:first-child > th {
    border-top: 1px solid @base-border-color;
  }

  .table > thead:last-child > tr:last-child > th {
    border-bottom: 2px solid @base-border-color;
  }

  .table td, .table th {
    border-color: @base-border-color;
    border-top: 1px solid @base-border-color;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
  }

  .variables-body {
    margin: 0px 5px 5px 5px;
    overflow-y: auto;

    td, th {
      width: 33%;
    }
  }

  .variables-head {
    flex: 0 0 auto;
    margin: 5px 5px 0px 5px;

    td, th {
      width: 33%;
    }
  }

  @keyframes highlight {
    0% {
      background: @highlight-color;
    }

    100% {
      background: none;
    }
  }
}